.DS_Store
node_modules
.yarnclean
Thumbs.db

# local env files
*.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# build output
build
dist
lib
*.tsbuildinfo

# vuepress
.cache
.temp
.deploy

drafts
